<body>

<p>Select an account to view or option below:</p>

<select onChange="window.location.href=this.value">
	<option value="/">Main Menu</option>
	<option value="/data?name=Sonia">Account: Sonia</option>
	<option value="/data?name=Priya">Account: Priya</option>
	<option value="/printcsv">Print All Stored Transactions & Edit Information</option>
	<option value="/addcsv" selected="selected">Add New Transaction</option>
</select>

<p>Add new information to an account:<br>

<form action="/addcsv" method="post">
	<p>Account Name: <input type="text" name="Account"></p>
	<p>Date: <input type="text" name="Date"></p>
	<p>Payee: <input type="text" name="Payee"></p>
	<p>Category: <input type="text" name="Category"></p>
	<p>Inflow: <input type="text" name="Inflow"></p>
	<p>Outflow: <input type="text" name="Outflow"></p>

	<input type="Submit">
</form>

</body>