<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>Account Info</title>
</head>
<body>

<p>Select an account to view or option below:</p>

<select onChange="window.location.href=this.value">
	<option value="/" selected="selected">Main Menu</option>
	<option value="/data?name=Sonia">Account: Sonia</option>
	<option value="/data?name=Priya">Account: Priya</option>
	<option value="/printcsv">Print All Stored Transactions & Edit Information</option>
	<option value="/addcsv">Add New Transaction</option>
</select>

<p>The new information was added successfully!</p>