<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>All Transactions Overview</title>
</head>

<%= yield %>

<p><form action="/logout" method="post"><input type="submit" value="Logout"></form></p>