<% if session[:notcurrentuser] %>

	<p class="page_title">Login error!</p>

	<p class="center">Sorry, something went wrong!<br>
		<br>
		<br>
		One of the following errors occured:<br>
		* The username entered does not match a username on file.<br>
		* The password entered is incorrect.<br>
		* The username/password fields were not filled out properly.<br>
	</p>

	<p class="center"><a href="/">Click here</a> to return to login page.</p>

	<% session.delete(:notcurrentuser) %>

<% else %>

	<p class="page_title">You are not logged in!</p>

	<p class="center">Please return to the <a href="/">login page</a>.</p>

<% end %>