
<p class="page_title"><strong>Welcome to Accounts Management</strong></p>

<p class="page_subtitle"><strong>Please login below:</strong></p>

<% if @user %>
	<p>The user <%= @user %> is already logged in.</p>
	<p><a href="/index">Click here</a> to return to the admin menu.</p>
<% else %>
	<form action="/login" method="post">
		<p class="center">Username: <input type="text" name="username" placeholder="Enter username" required autofocus></p>
		<p class="center">Password: <input type="password" name="password" placeholder="Enter password" required></p>
		<p class="center"><button class="depth" type="submit">&#10004;</button></p>
	</form>
<% end %>