<% if session[:notcurrentuser] %>

	<p class="page_title">Login error!</p>

	<p class="center">Sorry, the username <%= @name %> does not exist or the password entered was incorrect.</p>

	<p class="center"><a href="/">Click here</a> to return to login page.</p>

	<% session.delete(:notcurrentuser) %>

<% else %>

	<p class="page_title">You are not logged in!</p>

	<p class="center">Please return to the <a href="/">login page</a>.</p>

<% end %>