<p class="page_title">Edit Transactions</p>

<p class="center"><strong>View, edit, or delete all transactions available.</strong></p>

<table class="half">
	<tr>
		<td>
			<p>Enter a line (T#) to remove:</p>
			<form action="/printcsv" method="post">
				<p><input type="number" name="row_to_remove"></p>
				<p><input type="submit"></p>
			</form>
			<p>Enter a line (T#) to edit:</p>
			<form action="/editcsv" method="post">
				<p><input type="number" name="row_to_edit"></p>
				<p><input type="submit"></p>
			</form>
		</td>
	</tr>
</table>

<table class="other_half">		
	<thead>
		<tr>
			<th>T#</th>
			<th>Account</th>
			<th>Date</th>
			<th>Payee</th>
			<th>Category</th>
			<th>Outflow</th>
			<th>Inflow</th>
		</tr>
	</thead>	
	<% count = 0 %>
	<% @rows.each do |row| %>
	<% count = count + 1 %>
	<tr>
		<td><%= count.to_s + ": " %></td>
			<% currentRow = row.split(",")
				currentRow.each do |x| %>
					<td><%= x %> </td>
				<% end %>
	</tr>
	<% end %>
</table>